/*Colors*/
$bg-color: #797979; //фон
$p-color: #3d3d3d; //абзац
$h1-color: #2f1b15; //заголовок
$form-color: #231f20; //заполнение форм
$list-color: #000000; //пункт списка
/*Fonts*/
$primary-font: "PT Sans", sans-serif;
$secondary-font: "Courier New", sans-serif;
/*Width*/
$checkbox-width: 21px;
$radio-width: 28px;